[submodule "submodules/doxygen-awesome-css"]
	path = submodules/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git

[submodule "submodules/vector"]
	path = submodules/vector
	url = https://github.com/osvegn/vector.git
[submodule "submodules/Criterion"]
	path = submodules/Criterion
	url = https://github.com/Snaipe/Criterion
